In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
# ms-python.python added
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..\\..\..'))
	print(os.getcwd())
except:
	pass

In [1]:
import pandas as pd 
import numpy as np

jobs_df = pd.DataFrame({'A': pd.Series(np.random.randint(1, size=10)), 
                        'B': pd.Series(np.random.randint(1, size=10)),
                        'C': pd.Series(np.random.randint(1, size=10)), 
                        'D': pd.Series(np.random.randint(1, size=10))})

# source: https://pandas.pydata.org/pandas-docs/version/0.20/cookbook.html
def makeCartesianProduct(array_x, array_y):
    import pandas as pd
    import itertools

    return pd.DataFrame.from_records(itertools.product(array_x.reshape(-1, ), array_y.reshape(-1, )), columns=['x', 'y'])

jobs_ids_array = np.array(jobs_df.index)  
jobs_ids_cartesian_prod = makeCartesianProduct(jobs_ids_array, jobs_ids_array)

 # # Implementación:

In [2]:
import numpy as np
import time 
import pandas as pd 

start_time = time.time()

jobs_df = pd.DataFrame({'A': pd.Series(np.random.randint(1, size=10)), 
                        'B': pd.Series(np.random.randint(1, size=10)),
                        'C': pd.Series(np.random.randint(1, size=10)), 
                        'D': pd.Series(np.random.randint(1, size=10))})

# source: https://pandas.pydata.org/pandas-docs/version/0.20/cookbook.html
def makeCartesianProduct(array_x, array_y):
    import pandas as pd
    import itertools 

    return pd.DataFrame.from_records(itertools.product(array_x.reshape(-1, ), array_y.reshape(-1, )), columns=['x', 'y'])

jobs_ids_array = np.array(jobs_df.index)  
jobs_ids_cartesian_prod = makeCartesianProduct(jobs_ids_array, jobs_ids_array)

end_time = time.time()
print('operation time: ', end_time-start_time)
print('número de combinaciones: ', len(jobs_ids_cartesian_prod))

operation time:  0.0045032501220703125
número de combinaciones:  100

# VS con bucles for:

In [3]:
start_time = time.time()
l = len(jobs_df)
jobs_ids_combinations = pd.DataFrame(columns=['x', 'y'])
for i in range(l):
    for j in range(l):
        jobs_ids_combinations = jobs_ids_combinations.append(pd.Series({'x': i, 'y': j}), ignore_index=True)

end_time = time.time()
print('operation time: ', end_time-start_time)

operation time:  0.2540013790130615

 # # Implementación:

In [4]:
import numpy as np
import time 
import pandas as pd 

start_time = time.time()

jobs_df = pd.DataFrame({'A': pd.Series(np.random.randint(1, size=10)), 
                        'B': pd.Series(np.random.randint(1, size=10)),
                        'C': pd.Series(np.random.randint(1, size=10)), 
                        'D': pd.Series(np.random.randint(1, size=10))})

# source: https://pandas.pydata.org/pandas-docs/version/0.20/cookbook.html
def makeCartesianProduct(array_x, array_y):
    import pandas as pd
    import itertools 

    return pd.DataFrame.from_records(itertools.product(array_x.reshape(-1, ), array_y.reshape(-1, )), columns=['x', 'y'])

jobs_ids_array = np.array(jobs_df.index)  
jobs_ids_cartesian_prod = makeCartesianProduct(jobs_ids_array, jobs_ids_array)

end_time = time.time()
print('operation time con prod. cartesiano: ', end_time-start_time)
print('número de combinaciones: ', len(jobs_ids_cartesian_prod))

operation time con prod. cartesiano:  0.004504680633544922
número de combinaciones:  100

In [6]:
start_time = time.time()
l = len(jobs_df)
jobs_ids_combinations = pd.DataFrame(columns=['x', 'y'])
for i in range(l):
    for j in range(l):
        jobs_ids_combinations = jobs_ids_combinations.append(pd.Series({'x': i, 'y': j}), ignore_index=True)

end_time = time.time()
print('operation time con bucle for: ', end_time-start_time)
print('número de combinaciones: ', len(jobs_ids_combinations))

operation time con bucle for:  0.29201340675354004
número de combinaciones:  100

In [15]:
import pandas as pd 
import numpy as np

# source: https://pandas.pydata.org/pandas-docs/version/0.20/cookbook.html
def makeCartesianProduct(array_x, array_y):
    import pandas as pd
    import itertools

    return pd.DataFrame.from_records(itertools.product(array_x.reshape(-1, ), array_y.reshape(-1, )), columns=['x', 'y'])

jobs_ids_array = np.random.choice(range(10), 6, replace=False) 
jobs_ids_cartesian_prod = makeCartesianProduct(jobs_ids_array, jobs_ids_array)
jobs_ids_cartesian_prod

    x  y
0   8  8
1   8  1
2   8  7
3   8  4
4   8  0
5   8  5
6   1  8
7   1  1
8   1  7
9   1  4
10  1  0
11  1  5
12  7  8
13  7  1
14  7  7
15  7  4
16  7  0
17  7  5
18  4  8
19  4  1
20  4  7
21  4  4
22  4  0
23  4  5
24  0  8
25  0  1
26  0  7
27  0  4
28  0  0
29  0  5
30  5  8
31  5  1
32  5  7
33  5  4
34  5  0
35  5  5

In [17]:
def check_if_job_ids_equality(index, df=None):
    if df.iloc[index][0]==df.iloc[index][1]:
        return False
    else: 
        return True

jobs_ids_cartesian_prod_indexes = jobs_ids_cartesian_prod.index
equal_indexes = pd.Series(jobs_ids_cartesian_prod_indexes).apply(lambda x: check_if_job_ids_equality(index=x, df=jobs_ids_cartesian_prod))
jobs_ids_cartesian_prod['equal_indexes'] = equal_indexes
jobs_ids_cartesian_prod

    x  y  equal_indexes
0   8  8          False
1   8  1           True
2   8  7           True
3   8  4           True
4   8  0           True
5   8  5           True
6   1  8           True
7   1  1          False
8   1  7           True
9   1  4           True
10  1  0           True
11  1  5           True
12  7  8           True
13  7  1           True
14  7  7          False
15  7  4           True
16  7  0           True
17  7  5           True
18  4  8           True
19  4  1           True
20  4  7           True
21  4  4          False
22  4  0           True
23  4  5           True
24  0  8           True
25  0  1           True
26  0  7           True
27  0  4           True
28  0  0          False
29  0  5           True
30  5  8           True
31  5  1           True
32  5  7           True
33  5  4           True
34  5  0           True
35  5  5          False

In [18]:
results_df = pd.DataFrame(index = jobs_ids_array, columns = jobs_ids_array).fillna(True)
results_df_numpied=results_df.to_numpy()
np.fill_diagonal(results_df_numpied, False)
results_df=pd.DataFrame(results_df_numpied)
results_df

       0      1      2      3      4      5
0  False   True   True   True   True   True
1   True  False   True   True   True   True
2   True   True  False   True   True   True
3   True   True   True  False   True   True
4   True   True   True   True  False   True
5   True   True   True   True   True  False

In [21]:
def f1(x):
    if x==True:
        return 1
    else:
        return False

def f2(x):
    if x==True:
        return 2
    else:
        return False

def f3(x):
    if x==True:
        return 3
    else:
        return False

functions_dictionary = {"f1": f1,
                  "f2": f2,
                  "f3": f3}

def apply_function(functions_dict, function_name, x):
    return functions_dict[function_name](x)
 
rule_index_name = 'f2'
results_df_app_map = results_df.applymap(lambda x: apply_function(functions_dictionary, rule_index_name ,x))
results_df_app_map

       0      1      2      3      4      5
0  False      2      2      2      2      2
1      2  False      2      2      2      2
2      2      2  False      2      2      2
3      2      2      2  False      2      2
4      2      2      2      2  False      2
5      2      2      2      2      2  False